#body{
  font-family: 'Times New Roman', Times, serif;
}

#header{
    width: 100%;
    height: 800px;
    background-color: linear-gradient(to top, #000000, #ffffff,#000000);
    background-image: url("/Icons/Mejores-bienes\ raices-en-Cancun-para-invertir-1.jpg"), linear-gradient(to bottom, rgba(9, 9, 9, 0.593) 0%, rgba(0, 0, 0, 0.092) 50%, rgba(9, 9, 9, 0.593) 100%);
    background-blend-mode: overlay;
    overflow-clip-margin: content-box;
    overflow: clip;
    padding: 1%;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;

    a {
      display: block;
      text-decoration: none;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      line-height: 20px;
      white-space: nowrap;
      display: inline-block;
    }
  }
  
  #menu {
    position: absolute;
    top: 60px;
    width: 100%;
  
    ul {
      
      max-height: 0;
      overflow: hidden;
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 15px;
      display: flex;
      justify-content: center;
    }
  
    li {
      position: relative;
      display: inline-block;
      background: #33363b;
      text-transform: uppercase;
      text-align: center;
      border-bottom: 1px solid #32548b;
      margin: 0 5px;
  
      a {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        line-height: 20px;
        padding: 5px 8px;
        white-space: nowrap;
  
        &:active,
        &:focus {
          color: #ffffff;
        }
      }
  
      .dropdown-content {
        
        display: none; 
        position: absolute;
        background-color: #33363b;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        .show {
          display: block; 
        }
  
        li {
          
          border-bottom: none;
          a {
            padding: 12px 16px;
            text-align: left;
            &:hover {
              background-color: #575757;
              
            }
          }
        }
      }
  
      &:hover .dropdown-content {
        display: block; 
        
      }
    }
  
    .open-menu {
      box-shadow: 0 1px 2px rgba(0,0,0,.5);
      max-height: 400px;
      transition: max-height .4s ease;
    }
  }
  
  
  @media only screen and (min-width: 768px) {
  
    #nav-mobile{ display: none; }
  
   
    #menu {
      width: auto;
      float: right;
      top: 0;
      position: relative;
  
      .open-menu {
        box-shadow: none;
      }
  
      
      ul {
        max-height: inherit;
      }
  
     
      li {
        float: left;
        border: 0;
        background: transparent;
  
        a {
          display: block;
          color: #fff;
          border: white;
          border-radius: 5px;
          &:hover {
            color: #eeeeee;
            border: white;
            background: #00396b;
            
          }
        }
      }
    }
  }
  
  
  /* Content */
  main {
    display: flex;
    min-height: 400px;
    color: #fff;
    margin: 15px;
    align-items: center;
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
  }
  
  main h1 {
    width: 100%;
    text-align: center;
  }
    


/*Tipo de cambio*/
#divisa {
    display: inline-block;
    position: relative;
    background-color: #0082e6;
    color: white;
    padding: 1%;
    margin-right: 20px; 
  }
  
  #divisa label {
    display: block;
    margin-bottom: 5px;
  }
  
  #divisa select {
    width: 150px; 
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
 
  #divisa select:focus {
    outline: none;
    border-color: #999;
  }


  #Idioma {
    text-decoration: none; 
    color: #333;
    font-size: 16px;
    margin-right: 20px; 
  }


 
#buscador .text-center.container h1,
#buscador #Titulo h1 {
  
  color: #ffffff; 
  font-weight: bold;
  text-align: center; 
  margin: 10px 0;
  font-style: italic;
  border: 1px;
  border-color: #333; 
 
}



#buscador .text-center.container h2,
#buscador #Titulo h2{
  margin-top: 15%; 
  color: #ffffff;
  font-style: italic;
  border: 1px;
  border-color: #333;
}
/* Search bar styles */
.input-group {
  width: 100%;
  background-image: linear-gradient(to top, #004888, #012545);
  padding: 5%;
}
 #TextoBusqueda{
  width: 80%;
  border-radius: 5px;
  margin-left: 2%;
  margin-right: 1%;
 }

#Search
{
color: white;
border-radius: 5px;
}




#contacto{
  padding: 1.5%;
  color: white;
  background-color: #004888;
  margin-top: 1%;
  font-style: italic;
}

#Telefono button {
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 2%;
  font-size: 250%;
  font-style: italic;
  width: 100%;
  height: 150%;
}


#TitleCard h1 {
  /* Styles applied to the <h1> element within the #TitleCard element */
  color: black;
  font-style: normal;
}

#ZonasDestacadas .a:hover{
 stroke: #004888;
}
#ZonasDestacadas{
  padding-bottom: 2%;
 }
 

/*Estilos de la card*/

* {
  box-sizing: border-box;
}

.card {
  --blur: 16px;
  --size: clamp(300px, 50vmin, 600px);
  aspect-ratio: 4 / 3;
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  color: #000;
  transform: translateZ(0);
  background-color:linear-gradient(to bottom, rgba(9, 9, 9, 0.593) 0%, rgba(0, 0, 0, 0.092) 50%, rgba(9, 9, 9, 0.593) 100%)
}

.card__img {
  width: 100%;
  height: 100%;
  
  object-fit: cover;
  transform: scale(calc(1 + (var(--hover, 0) * 0.25))) rotate(calc(var(--hover, 0) * -5deg));
  transition: transform 0.2s;
}

.card__footer {
  padding: 0 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-row: auto auto;
  gap: 0.5ch;
  height: 30%;
  align-content: center;
  color: white;
  font-size: 50px;
}

.card__action {
  position: absolute;
  aspect-ratio: 1;
  width: calc(var(--size) * 0.15);
  bottom: 30%;
  right: 1.5rem;
  transform: translateY(50%)
    translateY(
      calc(
        (var(--size) * 0.4)
      )
    )
    translateY(calc(var(--hover, 0) * (var(--size) * -0.4)));
  background: purple;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  background: hsla(0, 0%, 0%, 0);

  transition: transform 0.2s;
}

.card__action svg {
  aspect-ratio: 1;
  width: 50%;
}

.card__footer span:nth-of-type(1) {
  font-size: calc(var(--size) * 0.065);
  background-color: none;
}

.card__footer span:nth-of-type(2) {
  font-size: calc(var(--size) * 0.035);
  background-color: none;
}

.card:is(:hover, :focus-visible) {
  --hover: 1;
  background-color: none;
}

/*Propiedades destacadas*/

#CardPropiedades {
  
#container{


	
	background-color: #c3c3c32f;
	text-align: center;
	border-radius: 2px;
	overflow: hidden;
	margin: 5em auto;
	height: 50%;
	width: 100%;
}


.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 2%;
	height: 100%;
	float: right;
	width: 50%;
  

}

#container .product-details h1{
	font-family: Playfair Display, TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
	display: inline-block;
	font-size: 300%;
	color:#00396b;
	margin-top: 10%;
  border-bottom: 2px solid #00396b;
  padding-bottom: 10px; 
	
}

#container .product-details h1:before{
	position: absolute;
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	font-family: 'Bree Serif', serif;
	display: inline-block;
	background: #bdbdbd;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: white;
	margin: 0;
	animation: chan-sh 6s ease infinite;

}



#container .product-details > p {

	text-align: left;
	font-size: 18px;
	color: #000000;
	
}

.btn {

	transform: translateY(0px);
	transition: 0.1s linear;
	background: linear-gradient(to top, #004888, #012545);
	border-radius: 2px;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	margin: 0;
	
}

.btn:hover{transform: translateY(-6px);
	background:linear-gradient(to top, #004888, #012545);}

.btn span {
	
	transition: transform 0.3s;
	display: inline-block;
  padding: 10px 20px;
	font-size: 1.2em;
	margin:0;
	
}


.btn .price {
	transform: translateX(-10%); padding-right: 15px;
}



.product-image {
	transition: all 0.3s ease-out;
	object-fit: cover;
  image-resolution: absolote;
	overflow: hidden;
	height: 100%;
	float: left;
	width: 50%;
	display: inline-block;
}

#container img {width: 100%;height: 100%;}

.info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Bree Serif', serif;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.8;
    text-align: left;
    font-size: 105%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {text-align: center}
.product-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{transform: translateX(50px) scale(1.3);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}
}

/* Target the #Busquedaportipo element */
#Busquedaportipo {
  h1 {
    font-family:  Display, TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
    font-size: 2em;
    color: #000000; 
    text-align: center; 
    margin: 5%; 
    padding: 2%;
    border-top: 0.5px solid #00000026;
    border-bottom: 0.5px solid #00000026;
  }



}

/*Pre ventas*/
#CardPreventas {
  
  #container{
  
  
    
    background-color: #c3c3c32f;
    text-align: center;
    border-radius: 2px;
    overflow: hidden;
    margin: 5em auto;
    height: 50%;
    width: 100%;
  }
  
  
  .product-details {
    position: relative;
    text-align: left;
    overflow: hidden;
    padding: 2%;
    height: 100%;
    float: left;
    width: 50%;
    
  
  }
  
  #container .product-details h1{
    font-family: Playfair Display, TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
    display: inline-block;
    font-size: 300%;
    color:#00396b;
    margin-top: 10%;
    border-bottom: 2px solid #00396b;
    padding-bottom: 10px; 
    
  }
  
  #container .product-details h1:before{
    position: absolute;
    content: '';
    right: 0%; 
    top: 0%;
    transform: translate(25px, -15px);
    font-family: 'Bree Serif', serif;
    display: inline-block;
    background: #bdbdbd;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    color: white;
    margin: 0;
    animation: chan-sh 6s ease infinite;
  
  }
  
  
  
  #container .product-details > p {
  
    text-align: left;
    font-size: 18px;
    color: #000000;
    
  }
  
  .btn {
  
    transform: translateY(0px);
    transition: 0.1s linear;
    background: linear-gradient(to top, #004888, #012545);
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
    color: #eee;
    padding: 0;
    margin: 0;
    
  }
  
  .btn:hover{transform: translateY(-6px);
    background:linear-gradient(to top, #004888, #012545);}
  
  .btn span {
    
    transition: transform 0.3s;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    margin:0;
    
  }
  
  
  
  .product-image {
    transition: all 0.3s ease-out;
    object-fit: cover;
    image-resolution: absolote;
    overflow: hidden;
    height: 100%;
    float: left;
    width: 50%;
    display: inline-block;
  }
  
  #container img {width: 100%;height: 100%;}
  
  .info {
      background: rgba(27, 26, 26, 0.9);
      font-family: 'Bree Serif', serif;
      transition: all 0.3s ease-out;
      transform: translateX(-100%);
      position: absolute;
      line-height: 1.8;
      text-align: left;
      font-size: 105%;
      cursor: no-drop;
      color: #FFF;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
  }
  
  .info h2 {text-align: center}
  .product-image:hover .info{transform: translateX(0);}
  
  .info ul li{transition: 0.3s ease;}
  .info ul li:hover{transform: translateX(50px) scale(1.3);}
  
  .product-image:hover img {transition: all 0.3s ease-out;}
  .product-image:hover img {transform: scale(1.2, 1.2);}
  }

#Conocenos{
  margin-top: 10%;
  margin-bottom: 2%;
  
  .btn {
    width: 15%;
    height: 2%;
    font-size: 15px;
    transform: translateY(0px);
    transition: 0.1s linear;
    background: linear-gradient(to top, #004888, #012545);
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
    color: #eee;
    padding: 0;
    margin: 0;
    
  }
  
  .btn:hover{transform: translateY(-6px);
    background:linear-gradient(to top, #004888, #012545);}
  
  .btn span {
    
    transition: transform 0.3s;
    display: inline-block;
    
    font-size: 1.2em;
    margin:0;
    
  }
}

#footer{
  background-color: #00396b;
  color: #ffffff;
  
  li{
    margin-top: 10px;
    text-decoration: none;  
    list-style-type: none;
  }
  a{
    text-decoration: none; 
    color: #ffff; 
    font-family: Poppins, Arial, Helvetica Neue, Helvetica, sans-serif;
    
  }
}

img.btn-whatsapp {
  display: block !important;
  position: fixed;
  z-index: 9999999;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  border-radius:100px !important;
  }
  img.btn-whatsapp:hover{
  border-radius:100px !important;
  -webkit-box-shadow: 0px 0px 15px 0px rgb(159, 199, 188); 
  -moz-box-shadow: 0px 0px 15px 0px rgb(159, 199, 188); 
  box-shadow: 0px 0px 15px 0px rgb(159, 199, 188); 
  transition-duration: 1s;
  } 